*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  /* background-color: var(--color-quaternary); */
}

section#galleryContainer {
  display: grid;
  grid-template-columns: [container-start] 1fr [container-end];
  grid-template-rows:
    [header-start] minmax(10vh, 0.1fr) [header-end card-row-start] minmax(
      90vh,
      1fr
    )
    [card-row-end];
}

.wire__map {
  display: grid;
  grid-column: container-start/container-end;
  grid-row: header-start/card-row-end;
  /* place-content: center; */
  /* background-color: #f4a7a7; */
  background-color: #e7e7e7;
  /* padding: 12rem 10rem 10rem 12rem; */
  height: auto;
  width: 100%;
  position: relative;
  /* margin-top: -15rem; */
  /* height: auto; */
}
.wire__map:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.1;
  background-image: url("/img/ellesmere-min.jpg");
  background-position: center;
  height: 100%;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  /* padding-bottom: 2rem; 
  font-size: 3rem; */
}
.header h2 {
  font-size: calc(4rem + 1.1vw);
  /* font-family: "Khula", sans-serif; */
  font-family: "Water Brush", cursive;
  /* color: #6e5f61; */
  color: dimgrey;
  font-weight: 300;
}

.gallery {
  display: grid;
  grid-row: card-row-start/card-row-end;
  grid-template-columns: repeat(auto-fit, 33rem);
  /*NO MIN-MAX*/
  grid-gap: 10rem;
  justify-content: center;
  width: 100%;
}
.gallery__card {
  /* padding-top: -2rem; */
  width: 34rem;
  height: 53rem;
  position: relative;
}
.gallery__card--front,
.gallery__card--back {
  background-color: white;
  height: 100%;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* -webkit-backface-visibility: hidden; */
  transform: perspective(100rem);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(245, 11, 11, 0.15);
}
.gallery__card--back {
  transform: perspective(100rem) rotateY(0.5turn);
  /*rotate(the perspective) back of card 180degress on cross axis*/
  background-color: white;
}
.gallery__card--back__p {
  place-self: center;
  /*PLACE p IN THE CENTER*/
  font-size: 2rem;
  font-weight: 400;
}
.gallery__card--picture__front,
.gallery__card--picture__back {
  opacity: 0.82;
  background-size: cover;
  height: 22rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.gallery__card:nth-child(1) .gallery__card--picture__front {
  background-image: linear-gradient(
      to right bottom,
      rgb(99, 40, 6),
      rgb(21, 0, 0)
    ),
    url("/img/Autumn.jpg");
}
.gallery__card:nth-child(2) .gallery__card--picture__front {
  background-image: linear-gradient(
      to right bottom,
      rgb(99, 40, 6),
      rgb(21, 0, 0)
    ),
    url("/img/summer.jpg");
}
.gallery__card:nth-child(3) .gallery__card--picture__front {
  background-image: linear-gradient(to right bottom, #225488, #061630),
    url("/img/sea.jpg");
}
.gallery__card:nth-child(1) .gallery__card--picture__back {
  background-image: linear-gradient(
      to right bottom,
      rgb(99, 40, 6),
      rgb(21, 0, 0)
    ),
    url("/img/winter.jpg");
}
.gallery__card:nth-child(2) .gallery__card--picture__back {
  background-image: linear-gradient(
      to right bottom,
      rgb(99, 40, 6),
      rgb(21, 0, 0)
    ),
    url("/img/spring.jpg");
}
.gallery__card:nth-child(3) .gallery__card--picture__back {
  background-image: linear-gradient(
      to right bottom,
      rgb(99, 40, 6),
      rgb(21, 0, 0)
    ),
    url("/img/c3.jpg");
}
.gallery__card--heading {
  font-family: Khula;
  font-size: 2rem;
  font-weight: 400;
  text-align: right;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 12.4rem;
  right: 3rem;
  width: 60%;
}
.gallery__card:nth-child(1) .gallery__card--heading__span {
  padding: 0.9rem 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to right bottom,
    rgba(253, 136, 0, 0.85),
    rgba(36, 13, 1, 0.85)
  );
}
.gallery__card:nth-child(2) .gallery__card--heading__span {
  padding: 0.9rem 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to right bottom,
    rgba(172, 193, 0, 0.85),
    rgba(11, 56, 11, 0.85)
  );
}
.gallery__card:nth-child(3) .gallery__card--heading__span {
  padding: 0.9rem 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to right bottom,
    rgba(96, 174, 255, 0.85),
    rgba(6, 22, 48, 0.85)
  );
}
.gallery__card--details {
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
  padding-top: 6rem;
  font-style: italic;
  color: dimgray;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.gallery__card--details__author {
  font-size: 1.2rem;
  color: black;
  font-style: normal;
}
.gallery__card--icon {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
.gallery__card--cta {
  position: relative;
  top: 0%;
  left: 0;
  transform: translate(0);
  width: 100%;
  font-family: "Khula";
  font-weight: 300;
}
.gallery__card--cta__front {
  display: none;
}
.gallery__card--cta__back {
  display: flex;
  justify-content: center;
  padding: 5rem 0 rem 4rem 0rem;
}
.gallery__card:hover .gallery__card--front {
  transform: perspective(100rem) rotateY(0.5turn);
}
.gallery__card:hover .gallery__card--back {
  transform: perspective(100rem) rotateY(1turn);
}

@media (max-width: 75em) {
  .header {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .gallery {
    grid-gap: 5rem;
  }
  .gallery__card--icon {
    display: none;
  }
  .gallery__card--cta__front {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem 4rem 0;
  }
  .gallery__card--back {
    transform: rotateY(0);
    display: none;
  }
  .gallery__card:hover .gallery__card--front {
    transform: rotateY(0);
  }
}
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1rem 5rem;
  display: inline-block;
  border-radius: 4rem;
  transition: all 0.2s;
  position: relative;
  font-size: 2rem;
  margin-top: 2rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(245, 11, 11, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(245, 11, 11, 0.2);
}
.btn__white {
  background-color: rgb(255, 255, 255);
  color: rgb(53, 52, 52);
}
.btn__white--btn-2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(237, 100, 20, 0.88),
    rgba(140, 101, 255, 0.88)
  );
  color: aliceblue;
}
.btn__white--btn-3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(245, 249, 6, 0.88),
    rgba(38, 122, 1, 0.88)
  );
  color: #fcfcfc;
}
.btn__white--btn-6 {
  background-image: linear-gradient(
    to right bottom,
    rgba(191, 145, 145, 0.95),
    rgba(84, 30, 37, 0.95)
  );
  color: #fcfaf7;
}
.btn__white--btn-1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.9),
    rgba(95, 6, 6, 0.9)
  );
  color: aliceblue;
}
.btn__white--btn-4 {
  background-image: linear-gradient(
    to right bottom,
    rgba(172, 193, 0, 0.9),
    rgba(23, 102, 49, 0.9)
  );
  color: aliceblue;
}
.btn__white--btn-5 {
  background-image: linear-gradient(
    to right bottom,
    rgba(96, 174, 255, 0.9),
    rgba(6, 22, 48, 0.9)
  );
  color: aliceblue;
}
.btn__white::after {
  background-color: rgb(255, 255, 255);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
  animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

/*the learn more button*/
.btn-text:link,
.btn-text:visited {
  font-size: 3rem;
  color: #176631;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #176631;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #176631;
  color: rgb(255, 255, 255);
  box-shadow: 0 1rem 2rem rgba(245, 11, 11, 0.2);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(245, 11, 11, 0.2);
  transform: translateY(-2px);
}
.filler {
  height: 190vh;
  background-color: brown;
}

.headerFillerTest {
  height: 8rem;
  background-color: #176631;
}

#cppaint,
#capaint,
#cipaint1,
#cnpaint1,
#ctpaint,
#cipaint,
#cnpaint,
#cgpaint,
#cspaint,
#ciin,
#cnin,
#cmmy,
#cymy,
#gg1,
#ga1,
#gr,
#ga2,
#gg2,
#ge {
  stroke: rgb(254, 3, 3);
  stroke-width: 0.01px;
  fill: transparent;
  overflow: visible;
}

#cppaint {
  stroke-dasharray: 355px;
  stroke-dashoffset: -355px;
  -webkit-animation: p-anim 0.16s linear 0s forwards;
  animation: p-anim 0.16s linear 0s forwards;
  -webkit-animation-name: p-anim;
  animation-name: p-anim;
}
@-webkit-keyframes p-anim {
  from {
    stroke-dashoffset: -355px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes p-anim {
  from {
    stroke-dashoffset: -355px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#capaint {
  stroke-dasharray: 160px;
  stroke-dashoffset: -160px;
  -webkit-animation: a-anim 0.16s linear 0.16s forwards;
  animation: a-anim 0.16s linear 0.16s forwards;
  -webkit-animation-name: a-anim;
  animation-name: a-anim;
}
@-webkit-keyframes a-anim {
  from {
    stroke-dashoffset: -160px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes a-anim {
  from {
    stroke-dashoffset: -160px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#cipaint1 {
  stroke-dasharray: 75px;
  stroke-dashoffset: -75px;
  -webkit-animation: i-anim 0.16s linear 0.32s forwards;
  animation: i-anim 0.16s linear 0.32s forwards;
  -webkit-animation-name: i-anim;
  animation-name: i-anim;
}
@-webkit-keyframes i-anim {
  from {
    stroke-dashoffset: -75px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes i-anim {
  from {
    stroke-dashoffset: -75px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#cnpaint1 {
  stroke-dasharray: 140px;
  stroke-dashoffset: -140px;
  -webkit-animation: n-anim 0.16s linear 0.48s forwards;
  animation: n-anim 0.16s linear 0.48s forwards;
  -webkit-animation-name: n-anim;
  animation-name: n-anim;
}
@-webkit-keyframes n-anim {
  from {
    stroke-dashoffset: -140px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes n-anim {
  from {
    stroke-dashoffset: -140px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#ctpaint {
  stroke-dasharray: 142px;
  stroke-dashoffset: -142px;
  -webkit-animation: t-anim 0.16s linear 0.64s forwards;
  animation: t-anim 0.16s linear 0.64s forwards;
  -webkit-animation-name: t-anim;
  animation-name: t-anim;
}
@-webkit-keyframes t-anim {
  from {
    stroke-dashoffset: -142px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes t-anim {
  from {
    stroke-dashoffset: -142px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#cipaint {
  stroke-dasharray: 70px;
  stroke-dashoffset: -70px;
  -webkit-animation: i2-anim 0.16s linear 0.8s forwards;
  animation: i2-anim 0.16s linear 0.8s forwards;
  -webkit-animation-name: i2-anim;
  animation-name: i2-anim;
}
@-webkit-keyframes i2-anim {
  from {
    stroke-dashoffset: -70px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes i2-anim {
  from {
    stroke-dashoffset: -70px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#cnpaint {
  stroke-dasharray: 139px;
  stroke-dashoffset: -139px;
  -webkit-animation: n2-anim 0.16s linear 0.96s forwards;
  animation: n2-anim 0.16s linear 0.96s forwards;
  -webkit-animation-name: n2-anim;
  animation-name: n2-anim;
}
@-webkit-keyframes n2-anim {
  from {
    stroke-dashoffset: -139px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes n2-anim {
  from {
    stroke-dashoffset: -139px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#cgpaint {
  stroke-dasharray: 210px;
  stroke-dashoffset: -210px;
  -webkit-animation: g-anim 0.16s linear 1.12s forwards;
  animation: g-anim 0.16s linear 1.12s forwards;
  -webkit-animation-name: g-anim;
  animation-name: g-anim;
}
@-webkit-keyframes g-anim {
  from {
    stroke-dashoffset: -210px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes g-anim {
  from {
    stroke-dashoffset: -210px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#cspaint {
  stroke-dasharray: 85px;
  stroke-dashoffset: -85px;
  -webkit-animation: s-anim 0.16s linear 1.28s forwards;
  animation: s-anim 0.16s linear 1.28s forwards;
  -webkit-animation-name: s-anim;
  animation-name: s-anim;
}
@-webkit-keyframes s-anim {
  from {
    stroke-dashoffset: -85px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes s-anim {
  from {
    stroke-dashoffset: -85px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#ciin {
  stroke-dasharray: 245px;
  stroke-dashoffset: -245px;
  -webkit-animation: ciin-anim 0.16s linear 1.44s forwards;
  animation: ciin-anim 0.16s linear 1.44s forwards;
  -webkit-animation-name: ciin-anim;
  animation-name: ciin-anim;
}
@-webkit-keyframes ciin-anim {
  from {
    stroke-dashoffset: -245px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes ciin-anim {
  from {
    stroke-dashoffset: -245px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#cnin {
  stroke-dasharray: 140px;
  stroke-dashoffset: -140px;
  -webkit-animation: cnin-anim 0.16s linear 1.6s forwards;
  animation: cnin-anim 0.16s linear 1.6s forwards;
  -webkit-animation-name: ciin-anim;
  animation-name: ciin-anim;
}
@keyframes ciin-anim {
  from {
    stroke-dashoffset: -140px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#cmmy {
  stroke-dasharray: 385px;
  stroke-dashoffset: -385px;
  -webkit-animation: cmmy-anim 0.16s linear 1.76s forwards;
  animation: cmmy-anim 0.16s linear 1.76s forwards;
  -webkit-animation-name: cmmy-anim;
  animation-name: cmmy-anim;
}
@-webkit-keyframes cmmy-anim {
  from {
    stroke-dashoffset: -385px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes cmmy-anim {
  from {
    stroke-dashoffset: -385px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#cymy {
  stroke-dasharray: 190px;
  stroke-dashoffset: -190px;
  -webkit-animation: cymy-anim 0.16s linear 1.92s forwards;
  animation: cymy-anim 0.16s linear 1.92s forwards;
  -webkit-animation-name: cymy-anim;
  animation-name: cymy-anim;
}
@-webkit-keyframes cymy-anim {
  from {
    stroke-dashoffset: -190px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes cymy-anim {
  from {
    stroke-dashoffset: -190px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#gg1 {
  stroke-dasharray: 230px;
  stroke-dashoffset: -230px;
  -webkit-animation: gg1-anim 0.16s linear 2.08s forwards;
  animation: gg1-anim 0.16s linear 2.08s forwards;
  -webkit-animation-name: gg1-anim;
  animation-name: gg1-anim;
}
@-webkit-keyframes gg1-anim {
  from {
    stroke-dashoffset: -230px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes gg1-anim {
  from {
    stroke-dashoffset: -230px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#ga1 {
  stroke-dasharray: 160px;
  stroke-dashoffset: -160px;
  -webkit-animation: ga1-anim 0.16s linear 2.24s forwards;
  animation: ga1-anim 0.16s linear 2.24s forwards;
  -webkit-animation-name: ga1-anim;
  animation-name: ga1-anim;
}
@-webkit-keyframes ga1-anim {
  from {
    stroke-dashoffset: -160px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes ga1-anim {
  from {
    stroke-dashoffset: -160px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#gr {
  stroke-dasharray: 90px;
  stroke-dashoffset: -90px;
  -webkit-animation: gr-anim 0.16s linear 2.4s forwards;
  animation: gr-anim 0.16s linear 2.4s forwards;
  -webkit-animation-name: gr-anim;
  animation-name: gr-anim;
}
@-webkit-keyframes gr-anim {
  from {
    stroke-dashoffset: -90px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes gr-anim {
  from {
    stroke-dashoffset: -90px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#ga2 {
  stroke-dasharray: 160px;
  stroke-dashoffset: -160px;
  -webkit-animation: ga2-anim 0.16s linear 2.56s forwards;
  animation: ga2-anim 0.16s linear 2.56s forwards;
  -webkit-animation-name: ga2-anim;
  animation-name: ga2-anim;
}
@-webkit-keyframes ga2-anim {
  from {
    stroke-dashoffset: -90px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes ga2-anim {
  from {
    stroke-dashoffset: -90px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#gg2 {
  stroke-dasharray: 220px;
  stroke-dashoffset: -220px;
  -webkit-animation: gg2-anim 0.16s linear 2.72s forwards;
  animation: gg2-anim 0.16s linear 2.72s forwards;
  -webkit-animation-name: gg2-anim;
  animation-name: gg2-anim;
}
@-webkit-keyframes gg2-anim {
  from {
    stroke-dashoffset: -220px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes gg2-anim {
  from {
    stroke-dashoffset: -220px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}

#ge {
  stroke-dasharray: 120px;
  stroke-dashoffset: -120px;
  -webkit-animation: ge-anim 0.16s linear 2.88s forwards;
  animation: ge-anim 0.16s linear 2.88s forwards;
  -webkit-animation-name: ge-anim;
  animation-name: ge-anim;
}
@-webkit-keyframes ge-anim {
  from {
    stroke-dashoffset: -120px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
}
@keyframes ge-anim {
  from {
    stroke-dashoffset: -120px;
  }
  to {
    stroke-dashoffset: 0px;
    fill: black;
  }
} /*# sourceMappingURL=main.css.map */
